[build]
  base = "frontend"
  command = "npm install && npm run build"
  # Kyunki vite.config mein humne outDir '../dist' kiya hai, ye base folder (frontend) ke andar hi rahega
  publish = "dist"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200