[build]
  base = "frontend"
  command = "npm install && npm run build"
  publish = "dist"

[[redirects]]
  # Ye 404 error ko rokne ke liye sabse zaroori hai
  from = "/*"
  to = "/index.html"
  status = 200